.logs{
    padding:0.3rem;
    .log-item{
        font-size: 0.14rem;
        margin-bottom: 0.1rem;
        span.item{
            margin-right: 0.1rem;
        }
        .timestamp{
            color: cadetblue;
        }
        .computer-name{
            color: darkgreen;
        }
        .os{
            color:  burlywood;
        }
        .method{
            color: cornflowerblue;
        }
        .path{
            color: gray;
        }
    }
    .ip{
        color: cornflowerblue;
        font-weight: 500;
        font-size: 0.2rem;
        margin-bottom: 0.1rem;
    }
}