.article {
    padding: 0.4rem;
    .post {
        padding: 0.48rem 0;
        .content-preview{
            background-color: inherit;
        }
        .post-info {
            color: #aaa;
            font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
            letter-spacing: 0.5px;
            text-align: center;
            span {
                font-style: italic;
            }
        }
        .post-title {
            color: #353535;
            font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
            font-size: 0.32rem;
            margin: 0.16rem 0;
            text-align: center;
        }
        .post-line {
            border-top: 0.064rem solid #353535;
            display: block;
            margin: 0 auto 0.48rem;
            width: 0.64rem;
        }
    }
    .pagination {
        border-top: 0.5px solid #e5e5e5;
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
        padding-top: 0.32rem;
        position: relative;
        text-align: center;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        color: #555;
        font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
        font-size: 0.177rem;
        opacity: .6;
        .top{
            cursor: pointer;
        }
    }
}