// 预览页滚动条
.slide{
    position: absolute;
    top: 0;
    right: 0;
    width: 0.06rem;
    height: 100%;
    .bar{
        width: 100%;
        background-color: rgba(185, 179, 179, 0.637);
        position: relative;
        top:0;
    }
}